<h1>{{ nombre }}</h1>

<dl>
    <td> Nombre: </td>
    <dd> {{ nombre }} </dd>

    <td> Edad : </td>
    <dd> {{ edad }} </dd>

    <td> Funcion : </td>
    <dd> {{ obtenerNombre () }} </dd>

    <td> Capitalizado : </td>
    <dd> {{ nombreCapitalizado }} </dd>

  </dl>



<p>utilizaremos en esta parte ngIf para condicionar que aparezca o no
  el botón de acuerdo a la condición *ngIf="nombre !== 'Spiderman'"</p>

<button
   *ngIf="nombre !== 'Spiderman'"
  (click)="cambiarNombre()" class="btn btn-primary mx-2">
  Cambiar Héroe
</button>

<button
 *ngIf="edad !== 30"
 (click)="cambiarEdad()" class="btn btn-primary">
  Cambiar edad
</button>

<p>
  al darle reset sobre el botón cambia heroe a Ironman y edad a 45
  haciendo que se habiliten los botones nuevamente
</p>
<button
  (click)="resetForm()" class="btn btn-primary mx-2">
  Reset

</button>




