<!--<app-contador></app-contador>> -->
<p>Aqui me dispongo a cargar el primer módulo dbz</p>
<app-dbz-main-page></app-dbz-main-page>
<!-- <p>Cargo el segundo módulo que es este mismo AppComponent</p>
este programa realiza un contador para incrementar y decrementar los valores,
los valores los obtiene del componente principal
app.component.ts
<h1>{{title}}</h1>
<hr>
<h3>Counter: {{ counter }}</h3>
<button (click)="increasedBy()">+1</button>
<button (click)="reset()">Reset</button>
<button (click)="decreaseBy()">-1</button>

<p>Aqui carga el tercer Módulo, esta llamando el selector de contador.component.ts</p>
<app-contador></app-contador>
<p>Aqui llamo al componente de heroes selector app-heroe que está en el heroe.componet.ts</p>
tener en cuenta que para que cargue el modulo debe estar en heroes.module.ts en declaration y en exports
<app-heroes-heroe></app-heroes-heroe>
<p>Aqui se procede a llamar al módulo de listado app-listado </p>
<app-listado></app-listado> -->



