<h1>DBZ Personajes</h1>
  <hr>

  <div class="row">
  <div class="col">
    <p>agrego lo que tiene el componente components\list</p>
    <app-dbz-list [characterList]="Character"></app-dbz-list>

</div>

  <div class="col">
    <p>agrego lo que tiene el componente components\add-character</p>
    <p>clase 64 agrego lo que me emite el componente hijo (onNewCharacter)="onNewCharacter($event) </p>
    <app-dbz-add-character (onNewCharacter)="onNewCharacter($event)"></app-dbz-add-character>
  </div>
  </div>


